  <div class="row">
    <div class="col-md-4 offset-md-4">

      <h1>Log in</h1>
      
      <div class="alert alert-danger" *ngIf="authenticationFailed">Nope, try again</div>

      <form (submit)="authenticate()" #userForm="ngForm">
        <div class="form-group" >
        <label for="login">login </label>
        <input class="form-control" name="login" type="text" FormControlName="login" [(ngModel)]="credentials.login" required>
        </div>

        <div class="form-group">
        <label for="password">Password </label>
        <input class="form-control" name="password" type="password" FormControlName="password" [(ngModel)]="credentials.password" required>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Log In</button>
      </form>

    </div>
  </div>
